[Unit]
Description=Documentum Server Docbroker
PartOf=documentum.service
After=documentum.service

[Service]
Type=forking
User={{ documentum_server.user }}
Group={{ documentum_server.group }}
ExecStart={{ documentum_server.documentum }}/dba/dm_launch_Docbroker
ExecStop={{ documentum_server.documentum }}/dba/dm_stop_Docbroker
WorkingDirectory={{ documentum_server.documentum }}
TimeoutSec=30
SyslogIdentifier=documentum-docbroker-%i

[Install]
WantedBy=documentum.service
