####################### aide memoire #######################
Documentum Status: systemctl status documentum documentum-docbroker documentum-repository documentum-jms
Documentum Status: systemctl status documentum-docbroker
Documentum Status: systemctl status documentum-repository
Documentum Status: systemctl status documentum-jms
Documentum Stop  : systemctl stop documentum
Documentum Start : systemctl start documentum
Journal Logs   : journalctl -u documentum-docbroker
Journal Logs   : journalctl -u documentum-repository
Journal Logs   : journalctl -u documentum-jms
####################### aide memoire #######################
