[Unit]
Description=Documentum Server JMS Service
After=syslog.target network.target
Requires=repository.service

[Service]
Type=forking
User={{ documentum_server.user }}
Group={{ documentum_server.group }}
ExecStart={{ documentum_server.jms.dir }}/../startMethodServer.sh
ExecStop={{ documentum_server.jms.dir }}/../stopMethodServer.sh
WorkingDirectory={{ documentum_server.jms.dir }}/..
TimeoutSec=300
TimeoutStartSec=10
SyslogIdentifier=jms-%i

[Install]
WantedBy=multi-user.target
