[Unit]
Description=Documentum Server JMS Service
After=syslog.target network.target repository.service
Requires=repository.service

[Service]
Type=simple
User={{ documentum_server.user }}
Group={{ documentum_server.group }}
ExecStart={{ documentum_server.jms.dir }}/../startMethodServer.sh
ExecStop={{ documentum_server.jms.dir }}/../stopMethodServer.sh
WorkingDirectory={{ documentum_server.documentum }}/temp
#WorkingDirectory={{ documentum_server.jms.dir }}/../../server
TimeoutSec=600
TimeoutStartSec=600
SyslogIdentifier=documentum-server-jms-%i

# Remove tmp files and logs. DO NOT DO THIS IN PRODUCTION!
ExecStartPre=-/bin/rm -rf {{ documentum_server.jms.dir }}/../felix-cache
ExecStartPre=-/bin/rm -rf {{ documentum_server.documentum }}/temp/felix-cache
ExecStartPre=-/bin/rm -rf {{ documentum_server.jms.dir }}/log
ExecStartPre=-/bin/rm -rf {{ documentum_server.jms.dir }}/logs
ExecStartPre=-/bin/rm -rf {{ documentum_server.jms.dir }}/tmp

[Install]
WantedBy=multi-user.target
